body {
    background-color: rgb(66, 197, 66);
    text-align: center;
}
h1 {
    font-size: 20px;
}
.conteudo {
    margin: 20px auto;
    border-radius: 100px;
    border: solid rgb(69, 69, 249) 2px;
    background-color: white;
    width: 350px;
    height: 700px;
    padding: 10px;
}
.text {
    color: white;
    background-color: rgb(86, 86, 255);
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
    margin-top: 40px;
    padding: 10px;
}
button {
    background-color: rgb(44, 219, 44);
    border-radius: 20px;
    padding: 7px;
    margin: 50px auto;
}
ul {
    list-style-type: none;
    margin-right: 30px;
}